body {
	background: whitesmoke;
	font-family: 'Lato', Times, 'Times New Roman', serif;
	font-size: 16px;
	color: #eee;
	overflow-x: hidden;
}
.container
{
		margin-top: 50px;
		margin-bottom: 50px;
        margin:0 auto;
        width:960px;
       background:#383838;
}
h1{
	padding-top: 10px;
}
